{% extends 'rango/base.html'%}
{% load staticfiles %}
{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
        <h1>Rango says...</h1>
        <div>
            here is the about page. <br />
            <strong>{{ boldmessage }}</strong><br />
            <strong><marquee width = "50%" scrollamount = "20">Visits: {{ visits }}</marquee></strong>
        </div>
        <div>
            <a href="/rango/about/">About</a><br />
            <a href="/rango/">Index</a><br />
            <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
            <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat" />
        </div>
{% endblock %}